.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.loader {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid var(--color-gray-200);
  border-top-color: var(--primary-hover);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}